<div class="p-font-family">
  <div class="text-xl mb-2 flex flex-1 justify-content-between">
    <span>Señal patrón</span>
  </div>

  <div class="flex align-items-center">
    <div class="mr-2">Parámetros de trabajo:</div>
    <ng-container *ngIf="(workingParamsStatus$ | async) as workingParamsStatus">
      <ng-container [ngSwitch]="workingParamsStatus">
        <ng-container *ngSwitchCase="WorkingParamsStatusEnum.UNKNOW">
          <span class="text-500">Estado desconocido</span>
        </ng-container>
        <ng-container
          *ngSwitchCase="WorkingParamsStatusEnum.REQUEST_IN_PROGRESS"
        >
          <span class="text-yellow-600">Esperando respuesta...</span>
        </ng-container>
        <ng-container
          *ngSwitchCase="WorkingParamsStatusEnum.PARAMETERS_SET_CORRECTLY"
        >
          <span class="text-green-500">Configurados</span>
        </ng-container>
        <ng-container
          *ngSwitchCase="WorkingParamsStatusEnum.PARAMETERS_SET_ERROR"
        >
          <span class="text-red-500">No se pudieron configurar</span>
        </ng-container>
        <ng-container
          *ngSwitchCase="WorkingParamsStatusEnum.PARAMETERS_TURN_OFF"
        >
          <span class="text-500">Apagados</span>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div class="flex align-items-center">
    <div class="mr-2">Estado de la señal patrón:</div>
    <ng-container *ngIf="(patternStatus$ | async) as patternStatus">
      <ng-container [ngSwitch]="patternStatus">
        <ng-container *ngSwitchCase="PatternStatusEnum.UNKNOW">
          <span class="text-500">Estado desconocido</span>
        </ng-container>
        <ng-container *ngSwitchCase="PatternStatusEnum.REQUEST_IN_PROGRESS">
          <span class="text-yellow-600">Esperando respuesta...</span>
        </ng-container>
        <ng-container *ngSwitchCase="PatternStatusEnum.REPORTING">
          <span class="text-green-500">Reportando</span>
        </ng-container>
        <ng-container *ngSwitchCase="PatternStatusEnum.TURN_OFF">
          <span class="text-500">Apagado</span>
        </ng-container>
        <ng-container *ngSwitchCase="PatternStatusEnum.TIMEOUT">
          <span class="text-red-500">No responde</span>
        </ng-container>
        <ng-container *ngSwitchCase="PatternStatusEnum.ERROR">
          <span class="text-red-500">ERROR {{errorCode$ | async}}</span>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div class="flex flex-1 mb-3 mt-4">
    <ng-container *ngIf="params$ | async as phases">
      <app-phases [phases]="phases"></app-phases>
    </ng-container>
  </div>

</div>