<fom
  novalidate
  [formGroup]="form"
>
  <p-fieldset>
    <ng-template pTemplate="header">
      <span>{{name}}</span>
    </ng-template>

    <app-devices [canConnect]="(canConnect$ | async) ? true : false"></app-devices>

    <div class="flex flex-1 mb-3 mt-4">
      <ng-container *ngIf="phases$ | async as phases">
        <app-phases [phases]="phases"></app-phases>
      </ng-container>
    </div>

    <div class="flex flex-1 mb-3 mt-4">
      <ng-container *ngIf="results$ | async as results">
        <app-stand-result [results]="results"></app-stand-result>
      </ng-container>
    </div>

  </p-fieldset>

  <div class="flex justify-content-end mt-3">
    <p-button
      styleClass="p-button-outlined"
      label="Volver a ejecutar"
      (click)="restart()"
      [disabled]="restartDisabled"
      [ngClass]="{ 'pointer-events-none': restartDisabled }"
    ></p-button>
  </div>

</fom>