<fom
  novalidate
  [formGroup]="form"
>
  <p-fieldset>
    <ng-template pTemplate="header">
      <span>{{name}}</span>
    </ng-template>

    <div class="border border-1 border-200 p-4 mb-4 border-round">
      
      <app-connection-status></app-connection-status>
      <p-divider></p-divider>

      <app-generator></app-generator>
      <p-divider></p-divider>

      <app-pattern></app-pattern>
      <p-divider></p-divider>

      <app-calculator></app-calculator>

    </div>

  </p-fieldset>
</fom>