<fom
  novalidate
  [formGroup]="form"
>
  <p-fieldset>
    <ng-template pTemplate="header">
      <span>{{name}}</span>
    </ng-template>

    <app-devices></app-devices>

    <div class="flex flex-1 mb-3 mt-4">
      <ng-container *ngIf="phases$ | async as phases">
        <app-phases [phases]="phases"></app-phases>
      </ng-container>
    </div>

    <!-- <div class="mt-2">
      <span>Parámetros del ensayo</span>
      <div class="text-sm">
        Cantidad de impulsos:
        {{contrastTestParametersAction.form.get('meterPulses')?.value}}
      </div>
      <div class="text-sm">
        Error máximo aceptado:
        {{contrastTestParametersAction.form.get('maxAllowedError')?.value}}
        [%]
      </div>
    </div> -->
    <div class="flex flex-1 mb-3 mt-4">
      <ng-container *ngIf="results$ | async as results">
        <app-stand-result [results]="results"></app-stand-result>
      </ng-container>
    </div>


    <!-- TODO: repetir prueba -->

  </p-fieldset>
</fom>