<ng-container *ngIf="refreshInterface | async">
    <ng-container [ngSwitch]="stepId">
        <app-contrast-test-step
            *ngSwitchCase="3"
            [actionsRawData]="actionsRawData"
            (actionsRawDataChange)="compareActionsRawDataChange($event)"
        ></app-contrast-test-step>
        <app-photocell-adjustment-step
            *ngSwitchCase="5"
            [actionsRawData]="actionsRawData"
            (actionsRawDataChange)="compareActionsRawDataChange($event)"
        ></app-photocell-adjustment-step>
        <app-preparation-step
            *ngSwitchCase="6"
            [actionsRawData]="actionsRawData"
            (actionsRawDataChange)="compareActionsRawDataChange($event)"
        ></app-preparation-step>
    </ng-container>
</ng-container>