<fom
  novalidate
  [formGroup]="form"
>
  <p-fieldset>
    <ng-template pTemplate="header">
      <span>{{name}}</span>
    </ng-template>

    <div class="flex flex-1 flex-column mb-3">
      <label
        for="maxAllowedError"
        class="mb-2"
      >Máximo error permitido en el puesto [%]<span
          class="ml-1 text-red-300">*</span>
      </label>
      <p-inputNumber
        styleClass="flex flex-1"
        id="maxAllowedError"
        formControlName="maxAllowedError"
        autofocus
        [required]="true"
        [useGrouping]="false"
      ></p-inputNumber>
    </div>

    <div class="flex flex-1 flex-column mb-3">
      <label
        for="meterPulses"
        class="mb-2"
      >Cantidad de impulsos del medidor<span class="ml-1 text-red-300">*</span>
      </label>
      <p-inputNumber
        styleClass="flex flex-1"
        id="meterPulses"
        formControlName="meterPulses"
        autofocus
        [required]="true"
        [useGrouping]="false"
      ></p-inputNumber>
    </div>

    <div class="flex flex-1 flex-column">
      <label
        for="numberOfDiscardedResults"
        class="mb-2"
      >Descartar los primeros N resultados<span
          class="ml-1 text-red-300">*</span>
      </label>
      <div class="p-inputgroup">
        <span
          class="p-inputgroup-addon"
          #helpIcon2
        >
          <i
            class="pi pi-info-circle"
            (mouseenter)="op2.show($event, helpIcon2)"
            (mouseleave)="op2.hide()"
          ></i>
        </span>
        <p-overlayPanel
          #op2
          [appendTo]="helpIcon2"
        >
          <ng-template pTemplate>
            <div class="text-sm text-700 flex flex-column">
              Se descartan los primeros N resultados y se registran valores a partir del resultado N+1.
            </div>
          </ng-template>
        </p-overlayPanel>
        <p-inputNumber
          styleClass="flex flex-1"
          id="numberOfDiscardedResults"
          formControlName="numberOfDiscardedResults"
          autofocus
          [required]="true"
          [useGrouping]="false"
        ></p-inputNumber>
      </div>
    </div>

  </p-fieldset>
</fom>