<fom
  novalidate
  [formGroup]="form"
>
  <p-fieldset>
    <ng-template pTemplate="header">
      <span>{{name}}</span>
    </ng-template>

    <ng-container *ngIf="!hiddenFields['hasManufacturingInformation']">
      <div class="flex p-3">
        <div class="flex align-items-center">
          <p-inputSwitch
            #hasManufacturingInformation
            formControlName="hasManufacturingInformation"
          ></p-inputSwitch>
        </div>
        <div class="ml-3">
          <span
            class="text-sm text-600"
            [ngClass]="{
            'text-black-alpha-40': !hasManufacturingInformation.checked()
          }"
          >
            Durante la ejecución solicitar información de los medidores,
            para mostrar en el reporte final.
          </span>
        </div>
      </div>

      <p-divider></p-divider>
    </ng-container>

    <ng-container *ngIf="standArray as groupsArray">
      <ng-container
        *ngFor="let group of groupsArray.controls; let i = index; let last = last"
      >
        <div
          [formGroup]="group"
          class="relative p-3 mb-3"
        >
          <button
            *ngIf="i===0"
            pButton
            pRipple
            icon="pi pi-copy"
            class="absolute top-0 right-0 z-2 p-button-rounded p-button-text p-button-primary p-button-sm"
            (click)="copyToAllActive(group)"
            pTooltip="Replicar valores del Puesto 01 en todos los puestos activos"
            tooltipPosition="left"
            [showDelay]="1250"
            [disabled]="!isActive.checked()"
          ></button>
          <div class="relative mb-3 flex flex-1 justify-content-center">
            <div class="absolute left-0">
              <p-inputSwitch
                #isActive
                formControlName="isActive"
                [pTooltip]="isActive.checked() ? 'Desactivar puesto' : 'Activar puesto'"
                tooltipPosition="left"
                [showDelay]="1250"
              ></p-inputSwitch>
            </div>
            <div>
              <label
                class="text-lg"
                [ngClass]="{
                  'text-black-alpha-40': !isActive.checked()
                }"
              >
                Puesto {{i+1|number:'2.0'}}
              </label>
            </div>
          </div>

          <div class="flex">
            <div class="flex flex-1 flex-column">
              <label
                for="meterId"
                class="mb-2"
                [ngClass]="{
                  'text-black-alpha-40': !isActive.checked()
                }"
              >Modelo de medidor<span
                  *ngIf="isActive.checked()"
                  class="ml-1 text-red-300"
                >*</span>
              </label>
              <p-dropdown
                styleClass="w-full"
                id="meterId"
                [options]="dropdownMeterOptions"
                formControlName="meterId"
                optionValue="id"
                optionLabel="label"
                appendTo="body"
                [autoDisplayFirst]="false"
              ></p-dropdown>
            </div>
          </div>

          <ng-container *ngIf="form.get('hasManufacturingInformation')?.value">

            <ng-container *ngIf="!hiddenFields['serialNumber']">
              <div class="flex flex-1 flex-column mt-3">
                <label
                  for="serialNumber"
                  class="mb-2"
                  [ngClass]="{
                  'text-black-alpha-40': !isActive.checked()
                }"
                >Número de serie<span
                    *ngIf="isActive.checked()"
                    class="ml-1 text-red-300"
                  >*</span>
                </label>
                <input
                  type="text"
                  pInputText
                  id="serialNumber"
                  formControlName="serialNumber"
                />
              </div>
            </ng-container>

            <ng-container *ngIf="!hiddenFields['yearOfProduction']">
              <div class="flex flex-1 flex-column mt-3">
                <label
                  for="yearOfProduction"
                  class="mb-2"
                  [ngClass]="{
                  'text-black-alpha-40': !isActive.checked()
                }"
                >Año de fabricación<span
                    *ngIf="isActive.checked()"
                    class="ml-1 text-red-300"
                  >*</span>
                </label>
                <p-dropdown
                  styleClass="w-full"
                  id="yearOfProduction"
                  [options]="dropdownYearOfProductionOptions"
                  formControlName="yearOfProduction"
                  optionValue="id"
                  optionLabel="label"
                  appendTo="body"
                  [autoDisplayFirst]="false"
                ></p-dropdown>
              </div>
            </ng-container>

          </ng-container>

        </div>
        <p-divider *ngIf="!last"></p-divider>
      </ng-container>
    </ng-container>
  </p-fieldset>
</fom>