<ng-container *ngFor="let actionLink of actionLinks; let i = index;">
  <ng-container [ngSwitch]="actionLink.actionEnum">
    <app-stand-identification-action
      *ngSwitchCase="ActionComponentEnum.StandIdentification"
      [actionLink]="actionLink"
      (actionLinkChange)="setActionLinkValue($event, i)"
    >
    </app-stand-identification-action>
    <app-meter-identification-action
      *ngSwitchCase="ActionComponentEnum.MeterIdentification"
      [actionLink]="actionLink"
      (actionLinkChange)="setActionLinkValue($event, i)"
    >
    </app-meter-identification-action>
    <app-photocell-adjustment-values-action
      *ngSwitchCase="ActionComponentEnum.PhotocellAdjustmentValues"
      [actionLink]="actionLink"
      (actionLinkChange)="setActionLinkValue($event, i)"
    >
    </app-photocell-adjustment-values-action>
  </ng-container>
</ng-container>