<app-page-title
  [title]="title"
  [headerIcon]="haderIcon"
></app-page-title>
<app-tab-menu-test></app-tab-menu-test>
<ng-container *ngIf="(essayTemplates$ | async) as essayTemplates">
  <app-abm
    [dataset]="essayTemplates"
    [columns]="cols"
    [tableColumnButtonsTemplate]="tableColumnButtonsTemplate"
    (deleteEvent)="deleteEssayTemplates($event)"
  >
    <ng-container toolbar-group-right>
      Nuevo
    </ng-container>
    <ng-template #tableColumnButtonsTemplate let-element="element">
      EjecutarBtn
    </ng-template>
  </app-abm>
</ng-container>