<app-page-title
  [title]="title"
  [headerIcon]="haderIcon"
></app-page-title>
<ng-container *ngIf="(meters$ | async) as meters">
  <app-abm
    [dataset]="meters"
    [columns]="cols"
    [detailFormValid]="form.valid"
    (deleteEvent)="deleteMeters($event)"
    (openDetailEvent)="setFormValues($event)"
    (saveDetailEvent)="saveMeter()"
  >
    <ng-template #abmDetailForm>
     <form
        novalidate
        [formGroup]="form"
      >
        <input
          type="hidden"
          formControlName="id"
        >

        <div class="field">
          <label for="brand_id">Marca - Modelo<span
              class="ml-1 text-red-300">*</span>
          </label>
          <p-dropdown
            id="brand_id"
            [options]="dropdownBrandOptions"
            formControlName="brand_id"
            optionValue="id"
            optionLabel="name"
            appendTo="body"
            [required]="true"
            [autoDisplayFirst]="false"
          ></p-dropdown>
          <ng-container *ngIf="form.get('brand_id') as brandIdField">
            <small
              class="text-red-500"
              *ngIf="brandIdField.invalid && brandIdField.dirty"
            >Requerido</small>
          </ng-container>
        </div>

        <div class="field">
          <label
            for="current"
            class="mb-2"
          >Corriente [A]<span class="ml-1 text-red-300">*</span></label>
          <p-inputNumber
            id="current"
            formControlName="current"
            autofocus
            [required]="true"
            [useGrouping]="false"
          ></p-inputNumber>
          <ng-container *ngIf="form.get('current') as currentField">
            <small
              class="text-red-500"
              *ngIf="currentField.invalid && currentField.dirty"
            >Requerido</small>
          </ng-container>
        </div>

        <div class="field">
          <label
            for="voltage"
            class="mb-2"
          >Tensión [V]<span class="ml-1 text-red-300">*</span></label>
          <p-inputNumber
            id="voltage"
            formControlName="voltage"
            autofocus
            [required]="true"
            [useGrouping]="false"
          ></p-inputNumber>
          <ng-container *ngIf="form.get('voltage') as voltageField">
            <small
              class="text-red-500"
              *ngIf="voltageField.invalid && voltageField.dirty"
            >Requerido</small>
          </ng-container>
        </div>


        <div class="formgrid grid">
          <div class="field col">
            <div class="field">
              <label
                for="activeConstantValue"
                class="mb-2"
              >Constante Activa<span class="ml-1 text-red-300">*</span></label>
              <p-inputNumber
                id="activeConstantValue"
                formControlName="activeConstantValue"
                autofocus
                [required]="true"
                [useGrouping]="false"
              ></p-inputNumber>
              <ng-container *ngIf="form.get('activeConstantValue') as activeConstantValueField">
                <small
                  class="text-red-500"
                  *ngIf="activeConstantValueField.invalid && activeConstantValueField.dirty"
                >Requerido</small>
              </ng-container>
            </div>
          </div> 
          <div class="field col">
            <div class="field">
              <label for="activeConstantUnit_id">Unidad constante activa<span
                  class="ml-1 text-red-300">*</span>
              </label>
              <p-dropdown
                id="activeConstantUnit_id"
                [options]="dropdownConstantUnitOptions"
                formControlName="activeConstantUnit_id"
                optionValue="id"
                optionLabel="name"
                appendTo="body"
                [required]="true"
                [autoDisplayFirst]="false"
              ></p-dropdown>
              <ng-container *ngIf="form.get('activeConstantUnit_id') as activeConstantUnitIdField">
                <small
                  class="text-red-500"
                  *ngIf="activeConstantUnitIdField.invalid && activeConstantUnitIdField.dirty"
                >Requerido</small>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <div class="field">
              <label
                for="reactiveConstantValue"
                class="mb-2"
              >Constante Reactiva<span class="ml-1 text-red-300">*</span></label>
              <p-inputNumber
                id="reactiveConstantValue"
                formControlName="reactiveConstantValue"
                autofocus
                [required]="true"
                [useGrouping]="false"
              ></p-inputNumber>
              <ng-container *ngIf="form.get('reactiveConstantValue') as reactiveConstantValueField">
                <small
                  class="text-red-500"
                  *ngIf="reactiveConstantValueField.invalid && reactiveConstantValueField.dirty"
                >Requerido</small>
              </ng-container>
            </div>
          </div>
          <div class="field col">
            <div class="field">
              <label for="reactiveConstantUnit_id">Unidad constante reactiva<span
                  class="ml-1 text-red-300">*</span>
              </label>
              <p-dropdown
                id="reactiveConstantUnit_id"
                [options]="dropdownConstantUnitOptions"
                formControlName="reactiveConstantUnit_id"
                optionValue="id"
                optionLabel="name"
                appendTo="body"
                [required]="true"
                [autoDisplayFirst]="false"
              ></p-dropdown>
              <ng-container *ngIf="form.get('reactiveConstantUnit_id') as reactiveConstantUnitIdField">
                <small
                  class="text-red-500"
                  *ngIf="reactiveConstantUnitIdField.invalid && reactiveConstantUnitIdField.dirty"
                >Requerido</small>
              </ng-container>
            </div>
          </div>
        </div>

      </form>
    </ng-template>
  </app-abm>
</ng-container>