<fom
  novalidate
  [formGroup]="form"
>
  <p-fieldset>
    <ng-template pTemplate="header">
      <span>{{name}}</span>
    </ng-template>

    <div
      class="animation"
      [ngStyle]="{
        'opacity': form.get('executionComplete')?.value ? '0' : '1',
        'height': form.get('executionComplete')?.value ? '0' : 'initial'
      }"
    >
      <app-devices></app-devices>
    </div>

    <div class="flex flex-1 mb-3 mt-4">
      <ng-container *ngIf="phases$ | async as phases">
        <app-phases [phases]="phases"></app-phases>
      </ng-container>
    </div>

    <ng-container
      *ngIf="{ value: essayTimer.progressPercentage$ | async } as progress"
    >
      <div class="flex flex-1 mb-1 mt-4">
        <p-progressBar
          [value]="progress.value"
          class="w-full"
        ></p-progressBar>
      </div>
    </ng-container>

    <div
      *ngIf="form.get('executionComplete')?.value"
      class="flex flex-1 mb-3 mt-4"
    >
      <ng-container *ngIf="results$ | async as results">
        <app-stand-result [results]="results"></app-stand-result>
      </ng-container>
    </div>

  </p-fieldset>

  <div class="flex justify-content-end my-3">
    <p-button
      styleClass="p-button-outlined"
      label="Volver a ejecutar"
      (click)="restart()"
      [disabled]="restartDisabled"
      [ngClass]="{ 'pointer-events-none': restartDisabled }"
    ></p-button>
  </div>

</fom>