<app-page-title
  [title]="title"
  [showBack]="true"
  (backEvent)="exit()"
>
  <ng-container toolbar-left>
    <div class="ml-3">{{essayName}}</div>
  </ng-container>
  <!-- TODO: <ng-container toolbar-right>
    <div></div>
  </ng-container> -->
</app-page-title>

<app-fill-available-space class="flex justify-content-evenly">

  <div class="flex flex-column pt-4 pl-3 w-4">
    <ng-container *ngIf="stepBuilders.length">
      <app-step-execution-status-list 
      [steps]="stepBuilders"
      [activeStepIndex]="0"
      [activeActionIndex]="0"
      >
      </app-step-execution-status-list>
    </ng-container>
  </div>

  <p-divider layout="vertical"></p-divider>

  <div class="flex flex-column w-8">
    <!-- TODO: accion en curso -->
  </div>

</app-fill-available-space>