<app-page-title
  [title]="title"
  [showBack]="true"
  (backEvent)="exit()"
>
  <ng-container toolbar-left>
    <div class="ml-3">{{essayName}}</div>
  </ng-container>
  <!-- TODO: <ng-container toolbar-right>
    <div></div>
  </ng-container> -->
</app-page-title>

<app-fill-available-space class="flex justify-content-evenly">

  <div class="flex flex-column pl-3 w-4">
    <p class="p-font-family text-lg text-700">
      Lista de pasos
    </p>
  </div>

  <p-divider layout="vertical"></p-divider>

  <div class="flex flex-column w-8">
    <!-- TODO: accion en curso -->
  </div>

</app-fill-available-space>