<ng-container [ngSwitch]="workingParamsStatus">
  <ng-container *ngSwitchCase="WorkingParamsStatusEnum.UNKNOW">
    <span class="text-500">Estado desconocido</span>
  </ng-container>
  <ng-container
    *ngSwitchCase="WorkingParamsStatusEnum.REQUEST_IN_PROGRESS"
  >
    <span class="text-yellow-600">Esperando respuesta...</span>
  </ng-container>
  <ng-container
    *ngSwitchCase="WorkingParamsStatusEnum.PARAMETERS_SET_CORRECTLY"
  >
    <span class="text-green-500">Configurados</span>
  </ng-container>
  <ng-container
    *ngSwitchCase="WorkingParamsStatusEnum.PARAMETERS_SET_ERROR"
  >
    <span class="text-red-500">No se pudieron configurar</span>
  </ng-container>
  <ng-container
    *ngSwitchCase="WorkingParamsStatusEnum.PARAMETERS_TURN_OFF"
  >
    <span class="text-500">--</span>
  </ng-container>
</ng-container>